.features-image-slider-two
{
    cursor: grab;
    overflow: hidden;
}

.features-image-slider-two .inner-carousel
{
    display: flex;
}

.features-image-slider-two .inner-carousel .item {
    max-height: 30rem;
    min-width: 20rem;
}

.features-image-slider-two .inner-carousel .item .myImage
{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
}


